@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #1D2438;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
  color: #fff;
  text-align: center;
}

h3 {
  border-bottom: 1px solid rgba(187, 187, 187, 0.276);
  padding-bottom: 10px;
  margin: 40px 0 10px;
  color: #bbb;
}

h4 {
  margin: 0;
  text-transform: uppercase;
  color: #bbb;
  text-align: center;
}

h2 {
  color: #fff;
  text-align: center;
}

label {
  color: #bbb;
  font-weight: bold;
  /* padding-bottom: 10px; */
}



.inc-exp-container {
  background-color: #222B3F;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-radius: 10px;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #1fc5c2;
  font-weight: bold;
}

.money.minus {
  color: #cc2056;
  font-weight: bold;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  /* border: 1px solid #dedede; */
  background-color: #222B3F;
  color: #dedede;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  padding: 20px;
  width: 100%;
  border-style: none;
}

.btn {
  cursor: pointer;
  background-color: #222B3F;
  border-bottom: 5px solid #cc2056;
  box-shadow: var(--box-shadow);
  color: #fff;
  /* border-style: none; */
  border-top: #222B3F;
  border-right: #222B3F;
  border-left: #222B3F;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 20px;
  width: 100%;
  border-radius: 5px;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #222B3F;
  box-shadow: var(--box-shadow);
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid  #1fc5c2;
  border-radius: 10px;
  padding: 30px;
}

.list li.minus {
  border-right: 5px solid #cc2056;
  border-radius: 10px;
  padding: 30px;
}

.delete-btn {
  cursor: pointer;
  background-color: #cc2056;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  padding: 2px 2px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
}

.list li:hover .delete-btn {
  opacity: 1;
  padding: 10px;
}